<ion-header>
  <ion-toolbar color="primary" >
    <ion-title><ion-icon routerLink="/home" name="ios-cafe" style="zoom:1.5;"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <!-- logo -->
          <div>
            <ion-card >
           <ion-card-title text-center color="primary">--MENU--</ion-card-title>
           <ion-card-content text-center>
             
         <!-- Items -->
 <ion-card  *ngFor="let cat of categories" routerLink="/place-order"  (click)="selectItem(cat)"> 
      <ion-card-content >
            <img ion-card-image src="{{cat.picUrl}}" alt="Photo of item" >
            <ion-card-title color="primary">{{cat.name}}</ion-card-title>
             <div >   R{{cat.price}} </div>
      </ion-card-content>
        
  </ion-card>
                </ion-card-content>
              </ion-card>
        
         </div>
        </div>
         <!-- back button -->
    <ion-button color="primary" routerLink="/home"><ion-icon name="arrow-back" ></ion-icon></ion-button>
  
</ion-content>
