<ion-header>
  <ion-toolbar color="primary" >
    <ion-title><ion-icon routerLink="/home" name="ios-cafe" style="zoom:1.5;"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--your  order -->
<ion-card  >
  
  <ion-card-title  color="primary" > Your Orders</ion-card-title>
 
  <ion-card-content>
 <!-- form -->

    <!-- list -->
 <ion-list *ngFor="let set of seletedItem" lines="full" class="ion-no-margin ion-no-padding">
    <ion-item color="primary" >
        {{set.name}}
    </ion-item>
<!-- add ons -->
        <ion-item>
  <!-- sugars -->
      <ion-radio-group (ionChange)="getSugar($event)">
              <ion-list-header>
            <ion-label color="primary">Sugars</ion-label>
              </ion-list-header>

                <ion-item>
                <ion-label color="secondary">1</ion-label>
                <ion-radio [(ngModel)]="sugar" slot="start" value="1" ></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label color="secondary" >2</ion-label>
                  <ion-radio [(ngModel)]="sugar" slot="start" value="2"  ></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label color="secondary">3</ion-label>
                    <ion-radio [(ngModel)]="sugar"  slot="start" value="3"  ></ion-radio>
                  </ion-item>

            </ion-radio-group>
            </ion-item>
    <!-- Milk -->
    <ion-item>
    <ion-radio-group  (ionChange)="getMilk($event)">
                  <ion-list-header>
                <ion-label color="primary">Milk</ion-label>
                  </ion-list-header>
    
                    <ion-item>
                    <ion-label color="secondary">Yes</ion-label>
                    <ion-radio [(ngModel)]="milk" slot="start" value="yes" ></ion-radio>
                    </ion-item>
                     <ion-item>
                      <ion-label color="secondary">No</ion-label>
                      <ion-radio [(ngModel)]="milk" slot="start" value="no"  ></ion-radio>
                    </ion-item>
    
      </ion-radio-group>
    </ion-item>

     <!-- Quantity -->
     <ion-item>
        <ion-list-header>
            <ion-label color="primary">Quantity</ion-label>
        </ion-list-header>
        
        <ion-icon color="primary" name="remove-circle" (click)="decrement()"></ion-icon>
            {{currentNumber}}
        <ion-icon color="primary" name="add-circle" (click)="increment()"></ion-icon>

     </ion-item>
        


      </ion-list>
      <!-- Total -->
      <ion-card color="primary">

      <ion-card-header>
          <ion-label style="zoom:2.0">Total:    </ion-label>
      </ion-card-header>
      </ion-card>
<!-- order button -->
      <div class="ion-padding">
        <ion-button expand="block"   class="ion-no-margin" routerLink="/order" (click)="placeOrder(sugar,milk,currentNumber)">Order</ion-button>
      </div>
  
  </ion-card-content>
  </ion-card>
</ion-content>
