<ion-header>
  <ion-toolbar color="primary">
      
    <ion-title>
        <ion-icon  name="ios-cafe" style="zoom:1.5;"></ion-icon> 
   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div>
<!-- logo -->
  <div>
    <ion-card>
   <ion-card-title text-center color="primary">Kofi</ion-card-title>
   <ion-card-content text-center>
      <!-- logo-->
      <ion-icon text-center color="primary" name="ios-cafe" style="zoom:20;"></ion-icon>
      
 <!-- options to do -->
 <ion-button color="primary"  expand="full" routerLink="/new-order">Place Order</ion-button><br/>
 <ion-button color="primary"  expand="full" routerLink="/order">Show Orders</ion-button>
        </ion-card-content>
      </ion-card>

 </div>
</div>



</ion-content>
